#pogrubienie_Zdrojewski {
    font-size: 35px;
    color: #8e5ece;
}
#pochylona_Zdrojewski {
    font-size: 30pt;
    color: #f7c26a;
}
#index_gorny_Zdrojewski {
    font-size: 1.5cm;
    color: #3ef4e2;
}
#index_dolny_Zdrojewski {
    font-size: 2.5cm;
    color: #381cd6;
}
#mono_Zdrojewski {
    font-size: 45px;
    color: #22e06a;
}
#powiekszenie_Zdrojewski {
    color: #5c409c;
}
#pomniejszenie_Zdrojewski {
    color: hsl(48, 55%, 49%);
}
/*<!-- Filip Zdrojewski 29.05.2022 -->